{% extends "core/base.html" %}
{% load static %}

{% block content %}
<div class="main">
  <section class="solicitud-form">
    <h2>Postulación para: {{ empleo.titulo }}</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div>
        <label for="{{ form.nombre_apellidos.id_for_label }}">Nombre y Apellidos:</label>
        {{ form.nombre_apellidos }}
      </div>
      <div>
        <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
        {{ form.telefono }}
      </div>
      <div>
        <label for="{{ form.correo_electronico.id_for_label }}">Correo Electrónico:</label>
        {{ form.correo_electronico }}
      </div>
      <div>
        <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
        {{ form.direccion }}
      </div>
      <div>
        <label for="{{ form.titulos.id_for_label }}">Títulos Académicos:</label>
        {{ form.titulos }}
      </div>
      <div>
        <label for="{{ form.experiencia_profesional.id_for_label }}">Experiencia Profesional:</label>
        {{ form.experiencia_profesional }}
      </div>
      <div>
        <label for="{{ form.curriculum.id_for_label }}">Currículum (Opcional):</label>
        {{ form.curriculum }}
      </div>
      <button type="submit" class="cta-button">Enviar Solicitud</button>
    </form>
  </section>
</div>
{% endblock %}