{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container my-4 card h-100 border-0 shadow rounded-3 p-4" style="max-width: 400px;">
  <h3 class="mb-4">Iniciar sesión</h3>
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="username" class="form-label">Usuario</label>
      <input type="text" name="username" class="form-control" id="username" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input type="password" name="password" class="form-control" id="password" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Entrar</button>
  </form>
</div>
{% endblock %}
