{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="container my-5">
  <h3 class="mb-4 text-center">¿A dónde deseas ir?</h3>
  <div class="row g-4 justify-content-center">
    {% for opcion in opciones %}
    <div class="col-md-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body text-center">
          <i class="fas {{ opcion.icono }} fa-2x mb-3 text-{{ opcion.color }}"></i>
          <h5 class="card-title">{{ opcion.nombre }}</h5>
          <p class="card-text">{{ opcion.descripcion }}</p>
          <a href="{% url opcion.url %}" class="btn btn-outline-{{ opcion.color }}">Ir al panel</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
